<div class="login_page_wrapper">
    <div class="md-card" id="login_card">
        <div class="md-card-content large-padding" id="login_form">
            <div class="login_heading" style="height: 50px; padding-top: 20px">
                <!-- <div class="user_avatar"></div> -->
                <img src="/logo.png" alt="Truck Point" title="Truck Point">
            </div>
            <%= form_for @user, url: sessions_path, method: :post do |f| %>
                <% if  %>
                    <div class="parsley-errors-list filled text-center" id="parsley-id-6">
                        <span class="parsley-type"><%= @error_message %></span>
                    </div>
                    <br />
                <% end %>
                <div class="uk-form-row">
                    <label for="login_username">
                        <%= I18n.t('login_page.username')%>
                    </label>
                    <!-- (@error_message.present? ? 'md-input md-input-danger' : 'md-input') -->
                    <%= f.text_field :email, required: true, id: 'login_username', class: 'md-input', type: 'text' %>
                </div>
                <div class="uk-form-row">
                    <label for="login_password">
                        <%= I18n.t('login_page.password')%>
                    </label>
                    <%= f.password_field :password, required: true, id: 'login_password', class: 'md-input', autocomplete: 'off' %>
                </div>
                <div class="uk-margin-medium-top">
                    <%= f.submit t('actions.submit'), class: 'md-btn md-btn-primary md-btn-block md-btn-large' %>
                </div>
            <% end %>
        </div>
    </div>
</div>
