h3(data-ng-bind="$faeCtrl.modeTitle" data-ng-show="$faeCtrl.preparing == 0")
form.uk-form-stacked.event-form(data-ng-show="$faeCtrl.preparing == 0")
    div.uk-margin-medium-bottom
        div.uk-form-row
            label Title
            input.md-input(type="text"
                           data-ng-model="$faeCtrl.event.title"
                           data-ng-class="{ 'md-input-danger' : $faeCtrl.event.errors.title }"
                           md-input)
            div.error.uk-text-danger.uk-margin-top-remove.uk-text-right(data-ng-bind="$faeCtrl.event.errors.title[0]")
        div.uk-form-row(data-ng-class="{ 'selectize-input-danger' : $faeCtrl.event.errors.kind }")
            input(type="text"
                  config="{ maxItems: 1, placeholder: 'Kind', valueField: 'symbol', labelField: 'value' }"
                  options="$faeCtrl.kinds"
                  data-ng-model="$faeCtrl.event.kind"
                  selectize)
            div.error.uk-text-danger.uk-margin-top-remove.uk-text-right(data-ng-bind="$faeCtrl.event.errors.kind[0]")
        div.uk-form-row(data-ng-class="{ 'selectize-input-danger' : $faeCtrl.event.errors.assigned_by }")
            input(type="text"
                  config="{ maxItems: 1, placeholder: 'Assign by', valueField: 'id', labelField: 'title' }"
                  options="$faeCtrl.users.collection"
                  data-ng-model="$faeCtrl.event.assigned_by.id"
                  selectize)
            div.error.uk-text-danger.uk-margin-top-remove.uk-text-right(data-ng-bind="$faeCtrl.event.errors.assigned_by[0]")
        div.uk-form-row
            div.uk-width-1-4.uk-float-left
                h5.datetime-header Assigned at
            div.uk-width-1-3.uk-float-left
                label Date
                input.md-input(type="text"
                               data-ng-model="$faeCtrl.event.date"
                               data-ng-class="{ 'md-input-danger' : $faeCtrl.event.errors.assigned_at[0] }"
                               data-uk-datepicker="{ format:'DD.MM.YYYY' }"
                               md-input)
            div.uk-width-1-3.uk-float-right
                label Time
                input.md-input(type="text" data-ng-model="$faeCtrl.event.time" data-ng-class="{ 'md-input-danger' : $faeCtrl.event.errors.assigned_at[0] }" data-uk-timepicker md-input)
        div.error.uk-text-danger.uk-margin-top-remove.uk-text-right(data-ng-bind="$faeCtrl.event.errors.assigned_at[0]")
            //- span.uk-input-group-addon.material-icons &#xE878;
        div.uk-form-row
            label Description
            textarea.md-input(type="text"
                              data-ng-model="$faeCtrl.event.description"
                              data-ng-class="{ 'md-input-danger' : $faeCtrl.event.errors.description }"
                              md-input)
            div.error.uk-text-danger.uk-margin-top-remove.uk-text-right(data-ng-bind="$faeCtrl.event.errors.description[0]")
div.uk-text-right
    md-preloader.uk-float-left(success width="35" height="35" stroke-Width="6" data-ng-if="$faeCtrl.loading || $faeCtrl.preparing > 0")
    div.uk-float-left.uk-margin-small-top.uk-margin-large-left(data-ng-if="$faeCtrl.preparing > 0")
        h3 Preparing...
    button.md-btn.md-btn-flat.uk-modal-close(type="button" data-ng-click="closeThisDialog()") Close
    button#snippet_new_save.md-btn.md-btn-flat.md-btn-flat-primary.ng-hide(type="button" data-ng-click="$faeCtrl.save()" data-ng-show="$faeCtrl.preparing == 0")
        span(data-ng-hide="$faeCtrl.event.id") Create
        span(data-ng-show="$faeCtrl.event.id") Save
